receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

exporters:
  debug:
    verbosity: detailed  # 詳細なログを出力 (簡易表示なら 'basic')

service:
  pipelines:
    logs:
      receivers: [otlp]
      exporters: [debug]
